@import "imports/Variables.scss";

html {
  scroll-behavior: smooth
}

body {
  font-family: "Averia Serif Libre", "Times New Roman", Times, serif;
  font-size: 16px
}

/* HEADER */
#entete, #entetecgu {
  position: fixed;
  z-index: 1;
  background: white;
  width: 100vw;
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  border-bottom: $blackBor;

  >.barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >#logoLink {
      margin: 0 0 0 10px;

      >#logo {
        height: 100px
      }
    }

    >#header-categs {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;

      >span {
        margin: 0 2%;

        >a {
          color: $blue;
          border: 2px transparent solid;
          border-radius: $title;
          &:hover {
            color: white;
            text-decoration: none;
            border: $blackBor;
            -webkit-animation: color-change 2s linear infinite;
            animation: color-change 2s linear infinite
          }
        }

        >.links-header {
          padding: 8px
        }
      }
    }
  }
}

/*#entetecgu {
  width: 80vw
}*/

#head {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  background-image: url(Images/Clavier.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  >#headText {
    background: rgba(222, 222, 222, 0.7);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    border: $blackBor;
    border-radius: $title;
    animation: webLocal 1s linear;
    -moz-animation: webLocal 1s linear;
    -moz-animation: webLocal 1s linear;

    >h1 {
      font-size: 5em
    }

    >h2 {
      font-size: 2em
    }
  }
}
@keyframes webLocal {
  0% {
    transform: rotate(-720deg) scale(0)
  }
  100% {
    transform: rotate(0) scale(1)
  }
}
/* FIN DE HEADER */

/* HEADER ET FOOTER */
@-webkit-keyframes color-change {
  0% {
    background: $blue;
  }
  50% {
    background: $red;
  }
  100% {
    background: $blue
  }
}
@keyframes color-change {
  0% {
    background: $blue;
  }
  50% {
    background: $red;
  }
  100% {
    background: $blue;
  }
}
/* FIN DE HEADER ET FOOTER */

/* MAIN */
// Présence dans différentes sections
main h2 {
  font-size: 3em
}

.impWord {
  color: $blue
}
// Fin de présence dans différentes sections

// Section "L'entreprise"
#entreprise {
  background: $blue;
  text-align: center;
  padding: 110px 80px 55px 80px
}

.entreprise {
  display: inline-block;
  background: $red;
  color: white;
  font-weight: bold;
  border: $blackBor;
  border-radius: $title;
  &:hover {
    background: white;
    color: $red;
    border: 2px $red solid
  }
}

.weblocal, .citation {
  background: white;
  font-size: 1.5em;
  text-align: left;
  text-indent: 30px;
  padding: 30px 30px 10px 30px;
  border-radius: 20px
}

.weblocal {
  text-align: center;
  text-indent: 0;

  #idImg {
    width: 100%;
    max-width: 800px;
    border: $blackBor;
    border-radius: $title
  }

  #services, #competences, #infos {
    cursor: pointer;

    >#arrow-down-serv, >#arrow-up-serv, >#arrow-down-comp, >#arrow-up-comp, >#arrow-down-infos, >#arrow-up-infos {
      height: 20px
    }
    >#arrow-down-serv, >#arrow-down-comp, >#arrow-down-infos {
      display: inline
    }
    >#arrow-up-serv, >#arrow-up-comp, >#arrow-up-infos {
      display: none
    }
  }

  #ulServicesToOpen, #divDevWebToOpen, #divInformatiqueToOpen, #divLanguesToOpen, #divSoftSkillsToOpen, #ulInfosToOpen {
    display: none
  }

  .sub-list {
    text-align: left;
    text-indent: 30px;
    margin-top: 20px;

    .sub-list-li {
      display: flex;
      align-items: center;

      >.sub-list-text {
        text-align: left;
        text-indent: 0;
        
        >.sub-list-icon {
          width: 20px;
          border-radius: 50%;
          margin: 0 10px 0 30px
        }

        >#horaires {
          margin-left: 64px
        }

        >#easterEgg {
          cursor: pointer;
          background: transparent;
          color: black;
          font-weight: normal;
          padding: 0;
          border: none;
          border-radius: 15px 0;
          margin: 0;
          transition: background 0.5s, color 0.5s;
          &:hover {
            background: $red;
            color: white
          }
        }
        
        >#divEasterToOpen {
          display: none;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: fixed;
          left: 0;
          top: 0;
          background: rgba(0,0,0,0.7);
          width: 100%;
          height: 100%;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 18px;
          font-weight: normal;
          text-align: center;
          z-index: 1;
        
          >#easterText {
            background-color: $backGrey;
            width: 80%;
            max-width: 550px;
            color: black;
            padding: 10px;
            border: 2px $red solid;
            border-radius: $title;
            margin-bottom: 5px
          }
          
          >#easterClose {
            cursor: pointer;
            width: 100px;
            background: $blue;
            color: white;
            border: 2px white solid;
            border-radius: 10px 0;
            transition: 0.5s;
            &:hover {
              background: $backGrey;
              color: black;
              border: 2px $red solid;
            }
          }
        }

        >ul {
          list-style-type: disc;
          list-style-position: inside;
          text-align: left
        }
      }
    }

    li img {
      background: $red;
      border-radius: 10px
    }

    .separator {
      height: 2px;
      width: 20%;
      background: $red;
      margin: 10px auto
    }
  }

  .small-list .separator {
    display: none;
    height: 2px;
    width: 20%;
    background: $red;
    margin: 10px auto
  }
}

.entreprise-sub {
  display: inline-block;
  background: $red;
  color: white;
  font-weight: bold;
  border: $blackBor;
  border-radius: $title;
  &:hover {
    background: $blue;
    border: 2px $red solid
  }
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;

  span {
    display: inline-block;
    background: $red;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    border: $blackBor;
    border-radius: $title;
    margin: 20px 0 0 0
  }

  a {
    color: $blue;
    text-decoration: underline;
    &:visited {
      color: black
    };
    &:hover {
      color: $red
    }
  }
}

.citation {
  width: 610px;
  text-align: center;
  text-indent: 0;
  margin: 0 auto
}

#cvDown {
  display: block;
  background: $backGrey;
  width: 434px;
  max-width: 90%;
  color: black;
  text-align: center;
  text-indent: 0;
  text-decoration: none;
  padding: 2px 10px;
  border: $blackBor;
  border-radius: $title;
  margin: 0 auto 10px auto;
  transition: background 0.5s, color 0.5s;
  &:hover {
    background: black;
    color: white;
    text-decoration: none
  }
}
// Fin de section "L'entreprise"

// Section "Les réalisations"
#realisations {
  background: $red;
  text-align: center;
  padding: 110px 80px 55px 80px
}

.realisations {
  display: inline-block;
  background: $blue;
  color: white;
  font-weight: bold;
  border: $blackBor;
  border-radius: $title;
  &:hover {
    background: white;
    color: $blue;
    border: 2px $blue solid
  }
}

.descripReal {
  background: white;
  font-size: 1.5em;
  text-align: left;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
  a {
    text-decoration: underline;
    &:visited {
      color: black
    }
  }
}

.projets {
  background: white;
  font-size: 1.5em;
  text-align: center;
  text-indent: 0;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;

  >.chaqueProjet {
    display: flex;
    align-items: flex-start;

    >.lienProjet {
      width: 30%;
      .imgProjet {
        width: 100%;
        max-width: 400px;
        border: $blackBor
      }
    }
    >.texteProjet {
      width: 70%;
      text-align: left;
      padding: 0 10px;
      a {
        text-decoration: underline
      }
      .noDispo {
        color: $red
      }
    }
  }
}
// Fin de section "Les réalisations"

// Section "Mentions légales - CGU-CGV"
#cgu-cgv {
  background: $blue;
  color: white;
  padding: 20px;

  a {
    color: lightgreen;
    text-decoration: underline;

    &:visited {
      color: rgb(240, 200, 80)
    }

    &:hover {
      color: white
    }
  }
}

.cgu-cgv {
  font-weight: bold;
  text-align: center
}

.cguTitles {
  font-weight: bold;
  margin: 40px 0 10px 0
}

.cguText {
  font-size: 1.2em
}

.cguList {
  margin-left: 50px;
}

.cguSubtitles {
  font-weight: bold;
  margin: 20px 0 0 0
}

.cguRetract {
  font-style: italic
}
// Fin de section "Mentions légales - CGU-CGV"
/* FIN DE MAIN */

/* FOOTER */
#pdp {
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0;
  border-top: $blackBor;

  >.barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >#logoLink-pdp {
      margin: 0 0 0 10px;

      >#logo-pdp {
        height: 100px
      }
    }

    >#footer-categs {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px 0;

      >span {
        margin: 0 2%;

        >a {
          color: $blue;
          border: 2px transparent solid;
          border-radius: $title;
          &:hover {
            color: white;
            text-decoration: none;
            border: $blackBor;
            -webkit-animation: color-change 2s linear infinite;
            animation: color-change 2s linear infinite
          }
        }

        >.links-pdp {
          padding: 8px
        }
      }
    }
  }
}
/* FIN DE FOOTER */

/* MEDIA QUERIES */
/* 5 breakpoints : 1000, 780, 660, 540, 390 */
@media screen and (max-width: 1000px) {
  #entete {
    font-size: 2.5em
  }
  #logo, #logo-pdp {
    height: 90px
  }
  #head {
    height: 500px
  }
  .links-header, .links-pdp {
    display: flex;
    padding: 0 6px
  }
  #entreprise, #realisations {
    padding: 110px 70px 50px 70px
  }
  .projets >.chaqueProjet{
    align-items: center;
    flex-direction: column;
    >.lienProjet {
      width: 100%
    }
    >.texteProjet {
      width: 100%
    }
  }
  #pdp {
    font-size: 1.5em
  }
}

@media screen and (max-width: 780px) {
  #entete {
    font-size: 2em
  }
  #logo, #logo-pdp {
    height: 80px
  }
  #head {
    align-items: flex-end;
    height: 400px;
    padding-bottom: 30px
  }
  #entreprise, #realisations {
    padding: 110px 60px 45px 60px
  }
  .citation {
    width: 100%;
    max-width: 610px
  }
  .liensProjet {
    display: flex;
    flex-direction: column
  }
}

@media screen and (max-width: 660px) {
  #entete {
    font-size: 1.5em
  }
  #logo, #logo-pdp {
    height: 70px
  }
  header h1 {
    font-size: 4em !important
  }
  header h2 {
    font-size: 1.6em !important
  }
  #entreprise, #realisations {
    padding: 110px 50px 40px 50px
  }
  .weblocal .small-list .separator {
    display: block
  }
}

@media screen and (max-width: 540px) {
  #entete {
    font-size: 1em
  }
  #logo, #logo-pdp {
    height: 60px
  }
  #head {
    height: 300px;
    padding-bottom: 20px
  }
  header h1 {
    font-size: 3em !important
  }
  header h2 {
    font-size: 1.3em !important
  }
  h3 {
    font-size: 1.3em
  }
  .cguSubtitles {
    font-size: 1.2em
  }
  #entreprise, #realisations {
    padding: 110px 40px 35px 40px
  }
  main h2 {
    font-size: 2em
  }
  .weblocal, .citation, .descripReal, .projets {
    font-size: 1.25em;
    text-indent: 20px
  }
  .weblocal, .citation, .projets {
    text-indent: 0
  }
  .sub-list-icon {
    margin: 0 10px 0 -20px !important
  }
  .boutonProjet {
    font-size: 20px
  }
  #pdp {
    font-size: 1em
  }
  #horaires {
    margin-left: 16px !important
  }
}

@media screen and (max-width: 390px) {
  #logo, #logo-pdp {
    height: 50px
  }
  #header-categs {
    flex-direction: column
  }
  #head {
    height: 250px
  }
  header h1 {
    font-size: 2em !important
  }
  header h2 {
    font-size: 1.1em !important
  }
  h3 {
    font-size: 1.1em
  }
  .cguText, .cguSubtitles {
    font-size: 1em
  }
  #entreprise, #realisations {
    padding: 110px 30px 30px 30px
  }
  main h2 {
    font-size: 1.6em
  }
  .weblocal, .citation, .descripReal, .projets {
    font-size: 1.1em;
    text-indent: 15px
  }
  .weblocal, .citation, .projets {
    text-indent: 0
  }
}
