body {
  font-family: "Averia Serif Libre";
  font-size: 14px;
}

#entete {
  position: fixed;
  z-index: 1;
  font-size: 3em;
  padding: 0;
  border-bottom: 2px black solid;
}

#entete, #quisuisje, #pdp {
  background-color: #dedede;
}

#logoLink, #logoLink-pdp {
  margin: 0 0 0 10px;
}

#logo, #logo-pdp {
  height: 100px;
}

#navbar span, #navbar-pdp span {
  margin: 0 2%;
}

#navbar span a, #navbar-pdp span a {
  border: 2px transparent solid;
  border-radius: 20px 0 20px 0;
}
#navbar span a:hover, #navbar-pdp span a:hover {
  color: black;
  text-decoration: none;
  border: 2px black solid;
  -webkit-animation: color-change 2s linear infinite;
  animation: color-change 2s linear infinite;
}

@-webkit-keyframes color-change {
  0% {
    background: royalblue;
  }
  50% {
    background: white;
  }
  100% {
    background: red;
  }
}
@keyframes color-change {
  0% {
    background: royalblue;
  }
  50% {
    background: white;
  }
  100% {
    background: red;
  }
}
.links-header, .links-pdp {
  padding: 8px;
}

#head {
  background-color: black;
  background-image: url(Images/Clavier.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#headText {
  background-color: rgba(222, 222, 222, 0.7);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

#quisuisje {
  padding: 110px 80px 55px 80px;
}

.section-h2 {
  font-size: 3em;
}

.quisuisje {
  display: inline-block;
  background-color: #e63946;
  color: white;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
  transition: background-color 0.5s, border 0.5s;
}
.quisuisje:hover {
  background-color: royalblue;
  border: 2px #e63946 solid;
}

.description, .citation, .contact, .compet, .autresComp, .passions, .projets {
  background-color: white;
  font-size: 1.5em;
  text-align: left;
  text-indent: 30px;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
}

.impWord {
  color: royalblue;
}

.citation, .autresComp {
  width: 480px;
  text-align: center;
  text-indent: 0;
  margin: 0 auto;
}

.contact-compet {
  display: flex;
  justify-content: center;
}

.contact, .compet {
  width: 48%;
  max-width: 570px;
  text-align: center;
  text-indent: 0;
}

.contact {
  margin-right: 10px;
}

.compet {
  margin-left: 10px;
}

#idImg {
  width: 50%;
  max-width: 300px;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

ul span {
  color: #e63946;
  font-weight: bold;
}

ul a {
  color: royalblue;
  text-decoration: underline;
}
ul a:visited {
  color: black;
}
ul a:hover {
  color: #e63946;
}

li img {
  background: #e63946;
  border-radius: 10px;
}

.autresComp {
  margin-top: 20px;
}

.autresComp ul {
  text-align: center;
}

.passions, .projets {
  text-align: center;
  text-indent: 0;
}

.parag {
  text-align: left;
}

.parag span {
  color: #e63946;
  font-weight: bold;
}

#thermidor {
  color: royalblue;
  font-weight: bold;
}

#realisations {
  background-color: #e63946;
  padding: 110px 80px 55px 80px;
}

.realisations {
  display: inline-block;
  background-color: royalblue;
  color: white;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
  transition: background-color 0.5s, color 0.5s;
}
.realisations:hover {
  background-color: #dedede;
  color: #e63946;
}

.projets img {
  background: #e63946;
  border-radius: 10px;
}

.typeProjet {
  color: #e63946;
  font-weight: bold;
}

.liensProjet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutonProjet {
  background-color: #e63946;
  min-width: 250px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
  margin: 10px;
  transition: background-color 0.5s, color 0.5s;
}
.boutonProjet:hover {
  background-color: #dedede;
  color: #e63946;
}

.texteProjet {
  padding: 0 10px;
}

.technos {
  color: royalblue;
}

#cv {
  background-color: royalblue;
  padding: 110px 80px 55px 80px;
}

.cv {
  display: inline-block;
  background-color: #dedede;
  color: #e63946;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
  transition: background-color 0.5s, color 0.5s;
}
.cv:hover {
  background-color: #969696;
  color: royalblue;
}

.categorieCV {
  color: white;
  font-size: 1.5em;
  text-align: left;
  padding: 10px 0;
}

.cvIcon {
  padding: 3px;
}

.cvYear {
  padding: 2px 6px;
}

#easterEgg {
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
#easterEgg:hover {
  background-color: #dedede;
  color: black;
}

#divEasterToOpen {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

#easterText {
  background-color: #dedede;
  width: 50%;
  max-width: 550px;
  color: black;
  padding: 5px;
  border: 2px #e63946 solid;
  border-radius: 20px 0 20px 0;
  margin-bottom: 5px;
}

#easterClose {
  cursor: pointer;
  width: 100px;
  background: royalblue;
  color: white;
  border: 2px white solid;
  border-radius: 10px 0 10px 0;
  transition: 0.5s;
}
#easterClose:hover {
  background: #dedede;
  color: black;
  border: 2px #e63946 solid;
}

.cvLink {
  background-color: #dedede;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}
.cvLink:hover {
  background-color: black;
  color: #dedede;
  text-decoration: none;
}

#cvDown {
  display: inline-block;
  background-color: #dedede;
  color: black;
  border: 2px black solid;
  border-radius: 20px 0 20px 0;
  transition: background-color 0.5s, color 0.5s;
}
#cvDown:hover {
  background-color: black;
  color: #dedede;
  text-decoration: none;
}

#cvDownText {
  margin: 0;
}

#pdp {
  font-size: 2em;
  padding: 0;
  border-top: 2px black solid;
}

/* MEDIA QUERIES */
/* 5 breakpoints : 1000, 760, 650, 540, 390 */
@media screen and (max-width: 1000px) {
  #entete {
    font-size: 2.5em;
  }

  #logo, #logo-pdp {
    height: 90px;
  }

  #head {
    height: 500px;
  }

  .links-header, .links-pdp {
    display: flex;
    padding: 0 6px;
  }

  #quisuisje, #realisations, #cv {
    padding: 100px 70px 50px 70px;
  }

  .contact-compet {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact, .compet, .autresComp {
    width: 100%;
    max-width: 570px;
  }

  .contact {
    margin-right: 0;
  }

  .compet {
    margin: 20px 0 0 0;
  }

  #pdp {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 760px) {
  #entete {
    font-size: 2em;
  }

  #logo, #logo-pdp {
    height: 80px;
  }

  #head {
    height: 400px;
  }

  #quisuisje, #realisations, #cv {
    padding: 90px 60px 45px 60px;
  }

  .liensProjet {
    display: flex;
    flex-direction: column;
  }

  #pdp {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 660px) {
  #entete {
    font-size: 1.5em;
  }

  #logo, #logo-pdp {
    height: 70px;
  }

  #head {
    height: 300px;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 1.6em;
  }

  #quisuisje, #realisations, #cv {
    padding: 80px 50px 40px 50px;
  }

  .citation, .autresComp {
    width: 100%;
  }

  #pdp {
    font-size: 1em;
  }
}
@media screen and (max-width: 540px) {
  #entete {
    font-size: 1em;
  }

  #logo, #logo-pdp {
    height: 60px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.3em;
  }

  #quisuisje, #realisations, #cv {
    padding: 70px 40px 35px 40px;
  }

  .description, .citation, .contact, .compet, .autresComp, .passions, .projets, .categorieCV {
    font-size: 1.3em;
  }

  .boutonProjet {
    font-size: 20px;
  }

  .cvIcon {
    padding: 0 3px;
  }

  .cvYear {
    padding: 0 6px;
  }

  #pdp {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 390px) {
  #entete, #pdp {
    font-size: 0.8em;
  }

  #logo, #logo-pdp {
    height: 50px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1.1em;
  }

  #quisuisje, #realisations, #cv {
    padding: 60px 30px 30px 30px;
  }

  .description, .citation, .contact, .compet, .autresComp, .passions, .projets, .categorieCV {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=Style.css.map */
