html {
  scroll-behavior: smooth;
}

body {
  font-family: "Averia Serif Libre", "Times New Roman", Times, serif;
  font-size: 16px;
}

/* HEADER */
#entete, #entetecgu {
  position: fixed;
  z-index: 1;
  background: white;
  width: 100vw;
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  border-bottom: 2px black solid;
}
#entete > .barnav, #entetecgu > .barnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#entete > .barnav > #logoLink, #entetecgu > .barnav > #logoLink {
  margin: 0 0 0 10px;
}
#entete > .barnav > #logoLink > #logo, #entetecgu > .barnav > #logoLink > #logo {
  height: 100px;
}
#entete > .barnav > #header-categs, #entetecgu > .barnav > #header-categs {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
#entete > .barnav > #header-categs > span, #entetecgu > .barnav > #header-categs > span {
  margin: 0 2%;
}
#entete > .barnav > #header-categs > span > a, #entetecgu > .barnav > #header-categs > span > a {
  color: #6667ab;
  border: 2px transparent solid;
  border-radius: 20px 0;
}
#entete > .barnav > #header-categs > span > a:hover, #entetecgu > .barnav > #header-categs > span > a:hover {
  color: white;
  text-decoration: none;
  border: 2px black solid;
  -webkit-animation: color-change 2s linear infinite;
  animation: color-change 2s linear infinite;
}
#entete > .barnav > #header-categs > span > .links-header, #entetecgu > .barnav > #header-categs > span > .links-header {
  padding: 8px;
}

/*#entetecgu {
  width: 80vw
}*/
#head {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6667ab;
  background-image: url(Images/Clavier.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#head > #headText {
  background: rgba(222, 222, 222, 0.7);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  border: 2px black solid;
  border-radius: 20px 0;
  animation: webLocal 1s linear;
  -moz-animation: webLocal 1s linear;
  -moz-animation: webLocal 1s linear;
}
#head > #headText > h1 {
  font-size: 5em;
}
#head > #headText > h2 {
  font-size: 2em;
}

@keyframes webLocal {
  0% {
    transform: rotate(-720deg) scale(0);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
/* FIN DE HEADER */
/* HEADER ET FOOTER */
@-webkit-keyframes color-change {
  0% {
    background: #6667ab;
  }
  50% {
    background: #dd4124;
  }
  100% {
    background: #6667ab;
  }
}
@keyframes color-change {
  0% {
    background: #6667ab;
  }
  50% {
    background: #dd4124;
  }
  100% {
    background: #6667ab;
  }
}
/* FIN DE HEADER ET FOOTER */
/* MAIN */
main h2 {
  font-size: 3em;
}

.impWord {
  color: #6667ab;
}

#entreprise {
  background: #6667ab;
  text-align: center;
  padding: 110px 80px 55px 80px;
}

.entreprise {
  display: inline-block;
  background: #dd4124;
  color: white;
  font-weight: bold;
  border: 2px black solid;
  border-radius: 20px 0;
}
.entreprise:hover {
  background: white;
  color: #dd4124;
  border: 2px #dd4124 solid;
}

.weblocal, .citation {
  background: white;
  font-size: 1.5em;
  text-align: left;
  text-indent: 30px;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
}

.weblocal {
  text-align: center;
  text-indent: 0;
}
.weblocal #idImg {
  width: 100%;
  max-width: 800px;
  border: 2px black solid;
  border-radius: 20px 0;
}
.weblocal #services, .weblocal #competences, .weblocal #infos {
  cursor: pointer;
}
.weblocal #services > #arrow-down-serv, .weblocal #services > #arrow-up-serv, .weblocal #services > #arrow-down-comp, .weblocal #services > #arrow-up-comp, .weblocal #services > #arrow-down-infos, .weblocal #services > #arrow-up-infos, .weblocal #competences > #arrow-down-serv, .weblocal #competences > #arrow-up-serv, .weblocal #competences > #arrow-down-comp, .weblocal #competences > #arrow-up-comp, .weblocal #competences > #arrow-down-infos, .weblocal #competences > #arrow-up-infos, .weblocal #infos > #arrow-down-serv, .weblocal #infos > #arrow-up-serv, .weblocal #infos > #arrow-down-comp, .weblocal #infos > #arrow-up-comp, .weblocal #infos > #arrow-down-infos, .weblocal #infos > #arrow-up-infos {
  height: 20px;
}
.weblocal #services > #arrow-down-serv, .weblocal #services > #arrow-down-comp, .weblocal #services > #arrow-down-infos, .weblocal #competences > #arrow-down-serv, .weblocal #competences > #arrow-down-comp, .weblocal #competences > #arrow-down-infos, .weblocal #infos > #arrow-down-serv, .weblocal #infos > #arrow-down-comp, .weblocal #infos > #arrow-down-infos {
  display: inline;
}
.weblocal #services > #arrow-up-serv, .weblocal #services > #arrow-up-comp, .weblocal #services > #arrow-up-infos, .weblocal #competences > #arrow-up-serv, .weblocal #competences > #arrow-up-comp, .weblocal #competences > #arrow-up-infos, .weblocal #infos > #arrow-up-serv, .weblocal #infos > #arrow-up-comp, .weblocal #infos > #arrow-up-infos {
  display: none;
}
.weblocal #ulServicesToOpen, .weblocal #divDevWebToOpen, .weblocal #divInformatiqueToOpen, .weblocal #divLanguesToOpen, .weblocal #divSoftSkillsToOpen, .weblocal #ulInfosToOpen {
  display: none;
}
.weblocal .sub-list {
  text-align: left;
  text-indent: 30px;
  margin-top: 20px;
}
.weblocal .sub-list .sub-list-li {
  display: flex;
  align-items: center;
}
.weblocal .sub-list .sub-list-li > .sub-list-text {
  text-align: left;
  text-indent: 0;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > .sub-list-icon {
  width: 20px;
  border-radius: 50%;
  margin: 0 10px 0 30px;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #horaires {
  margin-left: 64px;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #easterEgg {
  cursor: pointer;
  background: transparent;
  color: black;
  font-weight: normal;
  padding: 0;
  border: none;
  border-radius: 15px 0;
  margin: 0;
  transition: background 0.5s, color 0.5s;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #easterEgg:hover {
  background: #dd4124;
  color: white;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #divEasterToOpen {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #divEasterToOpen > #easterText {
  background-color: lightgray;
  width: 80%;
  max-width: 550px;
  color: black;
  padding: 10px;
  border: 2px #dd4124 solid;
  border-radius: 20px 0;
  margin-bottom: 5px;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #divEasterToOpen > #easterClose {
  cursor: pointer;
  width: 100px;
  background: #6667ab;
  color: white;
  border: 2px white solid;
  border-radius: 10px 0;
  transition: 0.5s;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > #divEasterToOpen > #easterClose:hover {
  background: lightgray;
  color: black;
  border: 2px #dd4124 solid;
}
.weblocal .sub-list .sub-list-li > .sub-list-text > ul {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}
.weblocal .sub-list li img {
  background: #dd4124;
  border-radius: 10px;
}
.weblocal .sub-list .separator {
  height: 2px;
  width: 20%;
  background: #dd4124;
  margin: 10px auto;
}
.weblocal .small-list .separator {
  display: none;
  height: 2px;
  width: 20%;
  background: #dd4124;
  margin: 10px auto;
}

.entreprise-sub {
  display: inline-block;
  background: #dd4124;
  color: white;
  font-weight: bold;
  border: 2px black solid;
  border-radius: 20px 0;
}
.entreprise-sub:hover {
  background: #6667ab;
  border: 2px #dd4124 solid;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
ul span {
  display: inline-block;
  background: #dd4124;
  color: white;
  font-weight: bold;
  padding: 2px 10px;
  border: 2px black solid;
  border-radius: 20px 0;
  margin: 20px 0 0 0;
}
ul a {
  color: #6667ab;
  text-decoration: underline;
}
ul a:visited {
  color: black;
}
ul a:hover {
  color: #dd4124;
}

.citation {
  width: 610px;
  text-align: center;
  text-indent: 0;
  margin: 0 auto;
}

#cvDown {
  display: block;
  background: lightgray;
  width: 434px;
  max-width: 90%;
  color: black;
  text-align: center;
  text-indent: 0;
  text-decoration: none;
  padding: 2px 10px;
  border: 2px black solid;
  border-radius: 20px 0;
  margin: 0 auto 10px auto;
  transition: background 0.5s, color 0.5s;
}
#cvDown:hover {
  background: black;
  color: white;
  text-decoration: none;
}

#realisations {
  background: #dd4124;
  text-align: center;
  padding: 110px 80px 55px 80px;
}

.realisations {
  display: inline-block;
  background: #6667ab;
  color: white;
  font-weight: bold;
  border: 2px black solid;
  border-radius: 20px 0;
}
.realisations:hover {
  background: white;
  color: #6667ab;
  border: 2px #6667ab solid;
}

.descripReal {
  background: white;
  font-size: 1.5em;
  text-align: left;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
}
.descripReal a {
  text-decoration: underline;
}
.descripReal a:visited {
  color: black;
}

.projets {
  background: white;
  font-size: 1.5em;
  text-align: center;
  text-indent: 0;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
}
.projets > .chaqueProjet {
  display: flex;
  align-items: flex-start;
}
.projets > .chaqueProjet > .lienProjet {
  width: 30%;
}
.projets > .chaqueProjet > .lienProjet .imgProjet {
  width: 100%;
  max-width: 400px;
  border: 2px black solid;
}
.projets > .chaqueProjet > .texteProjet {
  width: 70%;
  text-align: left;
  padding: 0 10px;
}
.projets > .chaqueProjet > .texteProjet a {
  text-decoration: underline;
}
.projets > .chaqueProjet > .texteProjet .noDispo {
  color: #dd4124;
}

#cgu-cgv {
  background: #6667ab;
  color: white;
  padding: 20px;
}
#cgu-cgv a {
  color: lightgreen;
  text-decoration: underline;
}
#cgu-cgv a:visited {
  color: #f0c850;
}
#cgu-cgv a:hover {
  color: white;
}

.cgu-cgv {
  font-weight: bold;
  text-align: center;
}

.cguTitles {
  font-weight: bold;
  margin: 40px 0 10px 0;
}

.cguText {
  font-size: 1.2em;
}

.cguList {
  margin-left: 50px;
}

.cguSubtitles {
  font-weight: bold;
  margin: 20px 0 0 0;
}

.cguRetract {
  font-style: italic;
}

/* FIN DE MAIN */
/* FOOTER */
#pdp {
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0;
  border-top: 2px black solid;
}
#pdp > .barnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pdp > .barnav > #logoLink-pdp {
  margin: 0 0 0 10px;
}
#pdp > .barnav > #logoLink-pdp > #logo-pdp {
  height: 100px;
}
#pdp > .barnav > #footer-categs {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0;
}
#pdp > .barnav > #footer-categs > span {
  margin: 0 2%;
}
#pdp > .barnav > #footer-categs > span > a {
  color: #6667ab;
  border: 2px transparent solid;
  border-radius: 20px 0;
}
#pdp > .barnav > #footer-categs > span > a:hover {
  color: white;
  text-decoration: none;
  border: 2px black solid;
  -webkit-animation: color-change 2s linear infinite;
  animation: color-change 2s linear infinite;
}
#pdp > .barnav > #footer-categs > span > .links-pdp {
  padding: 8px;
}

/* FIN DE FOOTER */
/* MEDIA QUERIES */
/* 5 breakpoints : 1000, 780, 660, 540, 390 */
@media screen and (max-width: 1000px) {
  #entete {
    font-size: 2.5em;
  }

  #logo, #logo-pdp {
    height: 90px;
  }

  #head {
    height: 500px;
  }

  .links-header, .links-pdp {
    display: flex;
    padding: 0 6px;
  }

  #entreprise, #realisations {
    padding: 110px 70px 50px 70px;
  }

  .projets > .chaqueProjet {
    align-items: center;
    flex-direction: column;
  }
  .projets > .chaqueProjet > .lienProjet {
    width: 100%;
  }
  .projets > .chaqueProjet > .texteProjet {
    width: 100%;
  }

  #pdp {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 780px) {
  #entete {
    font-size: 2em;
  }

  #logo, #logo-pdp {
    height: 80px;
  }

  #head {
    align-items: flex-end;
    height: 400px;
    padding-bottom: 30px;
  }

  #entreprise, #realisations {
    padding: 110px 60px 45px 60px;
  }

  .citation {
    width: 100%;
    max-width: 610px;
  }

  .liensProjet {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 660px) {
  #entete {
    font-size: 1.5em;
  }

  #logo, #logo-pdp {
    height: 70px;
  }

  header h1 {
    font-size: 4em !important;
  }

  header h2 {
    font-size: 1.6em !important;
  }

  #entreprise, #realisations {
    padding: 110px 50px 40px 50px;
  }

  .weblocal .small-list .separator {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  #entete {
    font-size: 1em;
  }

  #logo, #logo-pdp {
    height: 60px;
  }

  #head {
    height: 300px;
    padding-bottom: 20px;
  }

  header h1 {
    font-size: 3em !important;
  }

  header h2 {
    font-size: 1.3em !important;
  }

  h3 {
    font-size: 1.3em;
  }

  .cguSubtitles {
    font-size: 1.2em;
  }

  #entreprise, #realisations {
    padding: 110px 40px 35px 40px;
  }

  main h2 {
    font-size: 2em;
  }

  .weblocal, .citation, .descripReal, .projets {
    font-size: 1.25em;
    text-indent: 20px;
  }

  .weblocal, .citation, .projets {
    text-indent: 0;
  }

  .sub-list-icon {
    margin: 0 10px 0 -20px !important;
  }

  .boutonProjet {
    font-size: 20px;
  }

  #pdp {
    font-size: 1em;
  }

  #horaires {
    margin-left: 16px !important;
  }
}
@media screen and (max-width: 390px) {
  #logo, #logo-pdp {
    height: 50px;
  }

  #header-categs {
    flex-direction: column;
  }

  #head {
    height: 250px;
  }

  header h1 {
    font-size: 2em !important;
  }

  header h2 {
    font-size: 1.1em !important;
  }

  h3 {
    font-size: 1.1em;
  }

  .cguText, .cguSubtitles {
    font-size: 1em;
  }

  #entreprise, #realisations {
    padding: 110px 30px 30px 30px;
  }

  main h2 {
    font-size: 1.6em;
  }

  .weblocal, .citation, .descripReal, .projets {
    font-size: 1.1em;
    text-indent: 15px;
  }

  .weblocal, .citation, .projets {
    text-indent: 0;
  }
}

/*# sourceMappingURL=Style.css.map */
