// Bordures noires
$blackBor: 2px black solid;

// Fonds gris
$backGrey: rgb(222, 222, 222);

// Border-radius des titres
$title: 20px 0 20px 0;

// Fonds rouges
$red: rgb(230, 57, 70);

// Fonds bleus
$blue: royalblue