// Bordures noires
$blackBor: 2px black solid;

// Fonds gris
$backGrey: rgb(222, 222, 222);

// Border-radius des titres
$title: 20px 0 20px 0;

// Fonds rouges
$red: #b71540;

// Fonds bleus ou mots importants
$blue: #4a69bd